node_modules/
dist/
*.local

ChatGPT Image*.png
SID_Complete_Intro_Pages_1-17(1).png
SID_Complete_Intro_Pages_1-17_PG13_Toots.png
SID_Intro_Page_*.png
Special_Investigations_Editable/
tsconfig.original.json
